.small-screen-toolbar {
  position: sticky;
  top: 0;
  left: 280px;
  width: calc(100% - 280px);
  z-index: 2;

  &-fullscreen {
    left: 0;
    width: 100%;
    z-index: 1
  }
}

.sidenav {
  width: 280px;
  background-color: #212121;
  border: 0;
}

.toolbar {
  padding: 0 20px;
}

.logo {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  
  .logo-a {
    color: #ffcdd2;
  }

  .logo-v {
    color: #e53935;
    margin-left: -0.27em;
  }
}

.mobile-logo {
  margin-left: -40px;
  text-align: center;
  width: 100%;
}

.mat-selection-list {
  padding-top: 0;
}

.mat-selection-list:focus {
  outline: none;
}

.mat-list-option {
  .list-option-item  {
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;

    .mat-icon {
      padding-right: 16px;
    }
  }

  &:hover {
    filter: brightness(115%);
  }
}

.mat-list-option[aria-selected=false] {
  color: #000000 !important;

  .list-option-item  {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  }
}

.sidenav-content {
  background: #212121;
  max-height: calc(100vh - 64px - 48px); // Fallback.
  max-height: calc(100dvh - 64px - 48px);
  min-height: calc(100vh - 64px - 48px); // Fallback.
  min-height: calc(100dvh - 64px - 48px);
  overflow-x: hidden;
}

.articles {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  padding: 0 20px 0 20px;
  width: calc(100% - 40px);
}

.article-link {
  display: block;
  text-decoration: none;
}

.article-card {
  border-radius: 0;
  border: 2px solid #212121;
  font-family: sans-serif;
  height: calc(100% - 40px);
  padding: 18px;

  &:hover {
    border: 2px solid transparent;
    filter: brightness(115%);
    padding: 18px;
  }
}

.article-card h3 {
  color: #000000;
  font-family: serif;
  font-weight: normal;
  margin: 0 0 16px;
}

.article-info {
  color: #212121;
  font-family: sans-serif;
  font-size: 0.8rem;
  opacity: 0.7;
}

.article-category {
  background: #212121b3;
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  text-transform: uppercase;

  mat-icon {
    font-size: 0.8rem;
    height: auto;
    margin-right: 2px;
    vertical-align: middle;
    width: auto;
  }
}

.article-published-by {
  display: inline;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.article-published-at {
  text-transform: uppercase;
}

.article-published-at:before {
  content: '\0000a0\002022\0000a0' / "";
  font-weight: normal;
  margin-right: .25em;
  opacity: 0.7;
}

.article-quote {
  color: #000000;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  opacity: 0.85;
}

.article-quote blockquote {
  margin: 0;
}

footer {
  bottom: 0;
  height: 48px;
  position: fixed;
  width: 100%;
}

footer nav {
  height: 48px;
  width: 100%;
}

footer nav ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

footer nav li {
  height: 100%;
  width: calc(100% / 3);
}

footer nav li a {
  align-items: center;
  color: #fafafa;
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  justify-content: center;
  height: 100%;
  line-height: 2Opx;
  margin: 0;
  opacity: 0.70;
  text-transform: uppercase;
  
  &.active,
  &:hover {
    opacity: unset;
  }

  &.active {
    color: inherit;
  }
}

.sidenav-container:has(.mat-sidenav.mat-drawer-opened) .sidenav-content footer {
  display: flex;
  width: calc(100% - 288px);
}
