.small-screen-toolbar {
  position: sticky;
  top: 0;
  left: 280px;
  width: calc(100% - 280px);
  z-index: 2;

  &-fullscreen {
    left: 0;
    width: 100%;
    z-index: 1
  }
}

.sidenav {
  width: 280px;
  background-color: #212121;
  border: 0;
}

.toolbar {
  padding: 0 20px;
}

.logo {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  
  .logo-a {
    color: #ffcdd2;
  }

  .logo-v {
    color: #e53935;
    margin-left: -0.27em;
  }
}

.mobile-logo {
  margin-left: -40px;
  text-align: center;
  width: 100%;
}

.mat-selection-list {
  padding-top: 0;
}

.mat-selection-list:focus {
  outline: none;
}

.mat-list-option {
  .list-option-item  {
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;

    .mat-icon {
      padding-right: 16px;
    }
  }
}

.mat-list-option[aria-selected=false] {
  color: #000000 !important;

  .list-option-item  {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  }
}

.sidenav-content {
  background: #212121;
  height: calc(100vh - 64px - 20px);
}

.articles {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  padding: 0 20px 0 20px;
  width: calc(100% - 40px);
}

.article-card {
  border-radius: 0;
  font-family: sans-serif;
  padding: 20px;
}

.article-title {
  color: #000000;
  font-family: serif;
  font-weight: normal;
  text-decoration: none;
}

.article-title:hover {
  text-decoration: underline;
}

.article-info {
  color: #212121;
  font-family: sans-serif;
  font-size: 0.8rem;
  opacity: 0.7;
}

.article-category {
  background: #212121b3;
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 8px;
  text-transform: uppercase;

  mat-icon {
    font-size: 0.8rem;
    height: auto;
    margin-right: 2px;
    vertical-align: middle;
    width: auto;
  }
}

.article-published-by {
  margin-right: 5px;
}

.article-published-at {
  text-transform: capitalize;
}

.article-published-at:before {
  content: '\0000a0\002022\0000a0';
  margin-right: .25em;
}

.article-quote {
  color: #000000;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  opacity: 0.85;
}
