<header>
  <mat-toolbar
    class="small-screen-toolbar"
    [class.small-screen-toolbar-fullscreen]="isSmallScreen$ | async"
    color="primary"
  >
    <button
      *ngIf="isSmallScreen$ | async"
      mat-icon-button
      (click)="sidenav.toggle()"
      aria-label="Afficher le menu"
    >
      <mat-icon aria-label="Icône du menu">menu</mat-icon>
    </button>
    <h1
      *ngIf="(isSmallScreen$ | async) && !sidenav.opened"
      class="logo mobile-logo"
      matTooltip="Alerte Verte"
    >
      <span class="logo-a">A</span><span class="logo-v">V</span>
    </h1>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isSmallScreen$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
    [opened]="!(isSmallScreen$ | async)"
  >
    <mat-toolbar class="toolbar">
      <h1 class="logo" matTooltip="Alerte Verte">
        <span class="logo-a">A</span><span class="logo-v">V</span>
      </h1>
    </mat-toolbar>

    <mat-selection-list
      #categoryList
      [(ngModel)]="selectedCategoryIds"
      (ngModelChange)="changeSelectedCategoryIds($event)"
    >
      <mat-list-option
        *ngFor="let category of categories | keyvalue"
        [value]="category.key"
        [style.color]="category.value.color"
      >
        <div class="list-option-item center-vertically">
          <mat-icon>{{ category.value.icon }}</mat-icon
          >{{ category.value.name }}
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <main class="articles">
      <mat-card
        *ngFor="let article of articles$ | async; trackBy: trackArticleByUrl"
        class="article-card"
        [style.background]="categories[article.categoryId].color"
        [@cardAnimation]
      >
        <article>
          <mat-card-title-group>
            <mat-card-title>
              <h2>
                <a [href]="article.url" class="article-title" target="_blank">
                  {{ article.title }}
                </a>
              </h2>
            </mat-card-title>
            <mat-card-subtitle class="article-info">
              <div>
                <span
                  class="article-category"
                  [style.color]="categories[article.categoryId].color"
                >
                  <mat-icon>{{ categories[article.categoryId].icon }}</mat-icon>
                  {{ categories[article.categoryId].name }}
                </span>
              </div>
              <span class="article-published-by">{{
                article.publishedBy
              }}</span>
              <time class="article-published-at">{{
                article.publishedAt | date : "fullDate"
              }}</time>
            </mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="article-quote">
            {{ article.quote }}
          </mat-card-content>
        </article>
      </mat-card>
    </main>

    <footer>
      <nav>
        <a
          mat-button
          [routerLink]="previousMonth$ | async"
          [disabled]="!(previousMonth$ | async)"
        >
          <ng-container *ngIf="previousMonth$ | async">
            <mat-icon>arrow_left</mat-icon
            >{{ (previousMonth$ | async)?.toString() | date : "MMMM y" }}
          </ng-container>
        </a>
        <a
          mat-button
          [routerLink]="nextMonth$ | async"
          [disabled]="!(nextMonth$ | async)"
        >
          <ng-container *ngIf="nextMonth$ | async">
            {{ (nextMonth$ | async)?.toString() | date : "MMMM y"
            }}<mat-icon>arrow_right</mat-icon>
          </ng-container>
        </a>
      </nav>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
