<header>
  <mat-toolbar
    class="small-screen-toolbar"
    [class.small-screen-toolbar-fullscreen]="isSmallScreen$ | async"
    color="primary"
  >
    <button
      *ngIf="isSmallScreen$ | async"
      mat-icon-button
      (click)="sidenav.toggle()"
      aria-label="Afficher le menu"
    >
      <mat-icon aria-label="Icône du menu">menu</mat-icon>
    </button>
    <h1
      *ngIf="(isSmallScreen$ | async) && !sidenav.opened"
      class="logo mobile-logo"
      matTooltip="Alerte Verte"
      aria-label="Alerte Verte"
    >
      <div role="img" aria-hidden="true">
        <span class="logo-a">A</span><span class="logo-v">V</span>
      </div>
    </h1>
  </mat-toolbar>
</header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isSmallScreen$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
    [opened]="!(isSmallScreen$ | async)"
  >
    <mat-toolbar class="toolbar">
      <h1 class="logo" matTooltip="Alerte Verte" aria-label="Alerte Verte">
        <div role="img" aria-hidden="true">
          <span class="logo-a">A</span><span class="logo-v">V</span>
        </div>
      </h1>
    </mat-toolbar>

    <mat-selection-list
      #categoryList
      [ngModel]="selectedCategoryIds$ | async"
      (ngModelChange)="changeSelectedCategoryIds($event)"
    >
      <mat-list-option
        *ngFor="let category of categories$ | async | keyvalue"
        [value]="category.key"
        [style.color]="category.value.color"
      >
        <div class="list-option-item center-vertically">
          <mat-icon>{{ category.value.icon }}</mat-icon
          >{{ category.value.name }}
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <main
      class="articles"
      [@slideLeftToRight]="slideDirection"
      [@slideRightToLeft]="slideDirection"
    >
      <h2 class="visually-hidden">
        {{ (currentMonth$ | async)?.toString() | date : "MMMM y" }}
      </h2>
      <a
        *ngFor="let article of articles$ | async; trackBy: trackArticleByUrl"
        class="article-link"
        [href]="article.url"
        rel="author external"
        target="_blank"
      >
        <mat-card
          class="article-card"
          [style.background]="(categories$ | async)![article.categoryId].color"
        >
          <article>
            <mat-card-title-group>
              <mat-card-title>
                <h3>{{ article.title }}</h3>
              </mat-card-title>
              <mat-card-subtitle class="article-info">
                <div>
                  <span
                    class="article-category"
                    [style.color]="
                      (categories$ | async)![article.categoryId].color
                    "
                  >
                    <mat-icon>{{
                      (categories$ | async)![article.categoryId].icon
                    }}</mat-icon>
                    {{ (categories$ | async)![article.categoryId].name }}
                  </span>
                </div>
                <address class="article-published-by">
                  {{ article.publishedBy }}
                </address>
                <time
                  class="article-published-at"
                  [attr.datetime]="article.publishedAt"
                  >{{ article.publishedAt | date : "fullDate" }}</time
                >
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content class="article-quote">
              <blockquote [attr.cite]="article.url">
                {{ article.quote }}
              </blockquote>
            </mat-card-content>
          </article>
        </mat-card>
      </a>
    </main>

    <footer>
      <nav>
        <ul class="reset">
          <li>
            <a
              mat-button
              [routerLink]="previousMonth$ | async"
              [disabled]="!(previousMonth$ | async)"
              (click)="slideDirection = 'ltr'"
              rel="prev"
            >
              <ng-container *ngIf="(previousMonth$ | async)?.length">
                <mat-icon>arrow_left</mat-icon
                >{{
                  (previousMonth$ | async)?.toString()
                    | date : ((isSmallScreen$ | async) ? "MMM y" : "MMMM y")
                }}
              </ng-container>
            </a>
          </li>
          <li>
            <a mat-button class="active" aria-current="page" disabled>{{
              (currentMonth$ | async)?.toString()
                | date : ((isSmallScreen$ | async) ? "MMM y" : "MMMM y")
            }}</a>
          </li>
          <li>
            <a
              mat-button
              [routerLink]="nextMonth$ | async"
              [disabled]="!(nextMonth$ | async)"
              (click)="slideDirection = 'rtl'"
              rel="next"
            >
              <ng-container *ngIf="(nextMonth$ | async)?.length">
                {{
                  (nextMonth$ | async)?.toString()
                    | date : ((isSmallScreen$ | async) ? "MMM y" : "MMMM y")
                }}<mat-icon>arrow_right</mat-icon>
              </ng-container>
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
